* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: 62.5%; /* 62.5% é o padrão e equivale a 10px */
	color: lightgray;
}

body {
	background-color:#3B3231;
}

header {
	background-color: black;
}

header h1{
	border: 2px solid white;
}

h1, h2 {
	text-align: center;
	margin: 0;
	padding: 10px;
}

#tituloform {
	text-align: left;
	border-bottom: 1px solid white;
	border-left: 1px  solid white;
	position: relative;
	left: -25px;
}
		
section {
	font-size: 1.4rem;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkred;
	border: solid 2px white;
	border-top: 0px;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: lightgray;
	text-align: center;
	text-decoration: none;
	padding: 10px 15px;
}

li a:hover {
	background-color: black;
}

article {
	position: relative;
	top: 10px;
	left: 25px;
	width: 60%;
}

form {
	position: static;
}

form div {
	margin: 10px /*top*/ 10px /*right*/ 10px /*bottom*/ 10px /*left*/; 
	padding: 10px 10px 10px 10px;
	border-left: 2px solid white;
	border-bottom: 2px solid #D1523D;
	position: static;
}

input, textarea {
	padding: 5px;
	margin: 5px;

}

footer {
	position: relative;
	top: 50px;
	border: 2px solid lightyellow;
	text-align: center;
}

@media (max-width: 600px) {
nav, article {
width: 100%; height: auto
}
}